#include<iostream>
using namespace std;
#define SIZE 10


class Stack {
	int data_[SIZE];
	int top_;
	

public:
	Stack(){
		top_=0;
	}
	
	int push(int val){
		if(full()){
			cout << "OOOOPS!! STACK is full..." << endl;
			return -1;
		}
		data_[top_++]=val;
	}
	int pop(int& val){
		if(empty()){
			cout << "OOOOPS!! STACK is empty..." << endl;
			return -1;
		}
		val=data_[--top_];
		return 0 ;
	}
	
	bool empty(){
		return top_==0;
	}
	bool full(){
		return top_==SIZE;
	}
		
};

int main(){
	Stack st;
	for(int i =0;i<SIZE ;i++ ){
		st.push(i*10);
	}
	if(st.push(9999==-1))
	{
		cout << "stack error handling in push .... " << endl;
	}
	while(!st.empty()){
		int val;		
		 st.pop(val);
		 cout << val << endl;
	}
	int val;	
	if(st.pop(val) == -1){
		cout << "stack error handling in pop .... " << endl;
	}
	

	return 0;
}